[package]
name = "basalt"
version = "0.6.1"
authors = ["Austin <me@austinj.me>"]
repository = "https://github.com/AustinJ235/basalt"
documentation = "https://docs.rs/basalt"
description = "A window/ui framework built upon vulkan."
license = "MIT"
keywords = ["vulkan", "graphics", "gui", "framework", "interface"]
categories = ["graphics","gui"]
readme = "README.md"

[dependencies]
vulkano = "0.18.0"
vulkano-shaders = "0.18.0"
vulkano-win = "0.18.0"
ilmenite = { path = "../ilmenite" }
image = "0.22.3"
parking_lot = "0.10.0"
crossbeam = "0.7.3"
num_cpus = "1.11.1"
winit = "0.22.0"
curl = "0.4.25"
ordered-float = "1.0.2"
arc-swap = "0.4.4"
